<div class="module module-narrow module-shallow">
<h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Groups?') }}
</h2>
<div class="module-content">
    <p>
    {% trans %}
        Los grupos organizan conjuntos de datos relacionados con temas
        específicos de la Universidad Nacional de Córdoba, facilitando
        el acceso a información clave para investigaciones, proyectos
        y la comunidad en general. Cada grupo reúne datos abiertos sobre
        áreas temáticas, unidades académicas o iniciativas institucionales,
        brindando una experiencia de búsqueda clara y accesible. Explora
        los grupos para encontrar los datos que necesitas y contribuir
        al conocimiento compartido.
    {% endtrans %}
    </p>
</div>
</div>
