# custom compose files for devs
docker-compose.yml
docker-compose-prod.yml

docker/src/*
docker/ckan/files/env/local.env

*.pyc
*.pyo

__pycache__

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

.vscode/
