# custom compose files for devs
docker-compose.yml
docker-compose-prod.yml

docker/src/*
docker/ckan/files/env/local.env
docker/ckan/files/env/hetzner.env

deploy/hetzner/scripts/sync-dump/
deploy/hetzner/.env

*.pyc
*.pyo

__pycache__

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

.vscode/
CLAUDE.md
