/*
Definir los colores principales como variables a reutilizar
*/
:root {
    --regal-blue: #003c69;
    --finn: #53284f;
    --seagull: #6aade4;
    --tangaroa: #091F5A;
    --westar: #e0d3d8;
    --unc-dark-seagull: #00ccff;

    
    --primary-color: var(--tangaroa);
}
