include README.md
include LICENSE
include requirements.txt
recursive-include ckanext/unckan *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/unckan/migration *.ini *.py *.mako
recursive-include ckanext/unckan/public *.*
