{% ckan_extends %}

<footer class="site-footer">
    <div class="container">
      {% block footer_content %}
      <div class="row">
        <!-- Nueva columna agregada -->
        <div class="col-md-3 extra-footer-column">
            <a class="logo_footer" href="{{ h.url_for('home.index') }}">
              <img class="img-fluid" src="{{ h.url_for_static('/logo_footer_unc.png') }}" alt="{{ _("UNCKAN") }}" title="{{ _("UNCKAN") }}" />
            </a>
            <p class="mt-1">
              Nuestro objetivo es.
            </p>
            <h4>Síguenos en redes sociales</h4>
            <ul class="social-icons list-unstyled">
              <li><a href="https://www.facebook.com/universidad.nacional.de.cordoba.oficial/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/uncoficial/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
              <li><a href="https://www.linkedin.com/groups/1799627/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UCWQHNoiTQHSwbx9nWu5u8-A" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i></a></li>
            </ul>    
        </div>

        <div class="col-md-3 footer-links">
          {% block footer_nav %}
            <h4>{{ _('About {0}').format(g.site_title) }}</h4>
            <ul class="list-unstyled">
              {% block footer_links %}
                <li><a href="{{ h.url_for('home.about') }}">{{ _('About {0}').format(g.site_title) }}</a></li>
              {% endblock %}
            </ul>
            <ul class="list-unstyled">
                {% block footer_links_ckan %}
                    {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
                    <li><a href="{{ api_url }}" target="_blank" rel="noopener noreferrer">{{ _('CKAN API') }}</a></li>
                {% endblock %}
            </ul>
          {% endblock %}
        </div>

        <!-- Nueva columna agregada -->
        <div class="col-md-3 extra-footer-column">
          <h4>Contáctanos</h4>
          <ul class="list-unstyled">
            <li>Correo electrónico: 
              <a href="#">falta definir</a>
            </li>
            <li>Contacto telefónico: <b>0351-5353755</b>  
            </li>
            <li>Dirección: <b>Av. Juan Filloy, Ciudad Universitaria.</b></li>
            <li>Pagina Oficial: <a href="https://www.unc.edu.ar/node/1543" target="_blank" rel="noopener noreferrer">https://www.unc.edu.ar/contactenos</a></li>

          </ul>
        </div>

        <div class="col-md-3 attribution">
          {% block footer_attribution %}
            <p>{% trans %}<strong>Powered by</strong> <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}</p>
          {% endblock %}
          {% block footer_lang %}
            {% snippet "snippets/language_selector.html" %}
          {% endblock %}
        </div>
      </div>
      {% endblock %}
    </div>
</footer>