name: Test Build
on: 
  - push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          tags: true

      - name: Read CKAN_UNI_VERSION from docker/ckan/files/env/base.env
        id: read_version
        run: |
          UNI_VERSION=$(grep CKAN_UNI_VERSION docker/ckan/files/env/base.env | cut -d '=' -f2)
          echo "CKAN_UNI_VERSION found $UNI_VERSION"
          echo "CKAN_UNI_VERSION=$UNI_VERSION" >> $GITHUB_ENV

      - name: Test the tag exists in repo
        run: |
          echo "CKAN_UNI_VERSION=${{ env.CKAN_UNI_VERSION }}.Check if tag exists in repo"
          git rev-parse "${{ env.CKAN_UNI_VERSION }}"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build develop UNCKAN ver ${{ env.CKAN_UNI_VERSION }}
        uses: docker/build-push-action@v2
        with:
          context: docker/ckan
          file: docker/ckan/Dockerfile
          build-args: |
            ENV_NAME=gh-action
            TZ=America/Argentina/Cordoba
          push: false
        env:
          CKAN_UNI_VERSION: ${{ env.CKAN_UNI_VERSION }}
          
